# 1. DATA CLEANING

In [37]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [38]:
weather_data = pd.read_csv('weatherHistory.csv')

In [39]:
weather_data.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [40]:
weather_data.columns

Index(['Formatted Date', 'Summary', 'Precip Type', 'Temperature (C)',
       'Apparent Temperature (C)', 'Humidity', 'Wind Speed (km/h)',
       'Wind Bearing (degrees)', 'Visibility (km)', 'Loud Cover',
       'Pressure (millibars)', 'Daily Summary'],
      dtype='object')

changing the column names to avoid white spaces

In [41]:
weather_data.columns = ['Date', 'Summary', 'Precip_Type', 'Temperature',
       'Apparent_temperature', 'Humidity', 'Wind_speed',
       'Wind_Bearing', 'Visibility', 'Loud_Cover',
       'Pressure', 'Daily_Summary']

In [42]:
weather_data.head()

,Date,Summary,Precip_Type,Temperature,Apparent_temperature,Humidity,Wind_speed,Wind_Bearing,Visibility,Loud_Cover,Pressure,Daily_Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [43]:
weather_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96453 entries, 0 to 96452
Data columns (total 12 columns):
Date                    96453 non-null object
Summary                 96453 non-null object
Precip_Type             95936 non-null object
Temperature             96453 non-null float64
Apparent_temperature    96453 non-null float64
Humidity                96453 non-null float64
Wind_speed              96453 non-null float64
Wind_Bearing            96453 non-null float64
Visibility              96453 non-null float64
Loud_Cover              96453 non-null float64
Pressure                96453 non-null float64
Daily_Summary           96453 non-null object
dtypes: float64(8), object(4)
memory usage: 8.8+ MB

In [44]:
weather_data.isna().sum()

Date                      0
Summary                   0
Precip_Type             517
Temperature               0
Apparent_temperature      0
Humidity                  0
Wind_speed                0
Wind_Bearing              0
Visibility                0
Loud_Cover                0
Pressure                  0
Daily_Summary             0
dtype: int64

In [45]:
weather_data['Precip_Type'].value_counts()

rain    85224
snow    10712
Name: Precip_Type, dtype: int64

In [46]:
weather_data['Precip_Type'].unique()

array(['rain', 'snow', nan], dtype=object)

Since we have some nan values in Precip Type..we will be dropping that data

In [47]:
weather_data[weather_data['Precip_Type'] == 'snow'].head()

,Date,Summary,Precip_Type,Temperature,Apparent_temperature,Humidity,Wind_speed,Wind_Bearing,Visibility,Loud_Cover,Pressure,Daily_Summary
1562,2006-12-13 02:00:00.000 +0100,Foggy,snow,-0.483333,-4.150000,1.00,11.0929,219.0,0.483,0.0,1031.56,Foggy throughout the day.
1563,2006-12-13 03:00:00.000 +0100,Foggy,snow,-0.483333,-4.061111,0.96,10.7387,200.0,0.322,0.0,1031.47,Foggy throughout the day.
1564,2006-12-13 04:00:00.000 +0100,Foggy,snow,-0.922222,-3.477778,1.00,7.0679,206.0,0.161,0.0,1031.23,Foggy throughout the day.
1565,2006-12-13 05:00:00.000 +0100,Foggy,snow,-1.038889,-4.400000,1.00,9.4990,199.0,0.161,0.0,1031.41,Foggy throughout the day.
1566,2006-12-13 06:00:00.000 +0100,Foggy,snow,-1.088889,-4.438889,1.00,9.4346,219.0,0.322,0.0,1031.98,Foggy throughout the day.

In [48]:
weather_data[weather_data['Precip_Type'] == 'rain'].head()

,Date,Summary,Precip_Type,Temperature,Apparent_temperature,Humidity,Wind_speed,Wind_Bearing,Visibility,Loud_Cover,Pressure,Daily_Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [49]:
weather_data.describe()

,Temperature,Apparent_temperature,Humidity,Wind_speed,Wind_Bearing,Visibility,Loud_Cover,Pressure
count,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.0,96453.000000
mean,11.932678,10.855029,0.734899,10.810640,187.509232,10.347325,0.0,1003.235956
std,9.551546,10.696847,0.195473,6.913571,107.383428,4.192123,0.0,116.969906
min,-21.822222,-27.716667,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
25%,4.688889,2.311111,0.600000,5.828200,116.000000,8.339800,0.0,1011.900000
50%,12.000000,12.000000,0.780000,9.965900,180.000000,10.046400,0.0,1016.450000
75%,18.838889,18.838889,0.890000,14.135800,290.000000,14.812000,0.0,1021.090000
max,39.905556,39.344444,1.000000,63.852600,359.000000,16.100000,0.0,1046.380000

In [50]:
weather_data.corr()

,Temperature,Apparent_temperature,Humidity,Wind_speed,Wind_Bearing,Visibility,Loud_Cover,Pressure
Temperature,1.000000,0.992629,-0.632255,0.008957,0.029988,0.392847,NaN,-0.005447
Apparent_temperature,0.992629,1.000000,-0.602571,-0.056650,0.029031,0.381718,NaN,-0.000219
Humidity,-0.632255,-0.602571,1.000000,-0.224951,0.000735,-0.369173,NaN,0.005454
Wind_speed,0.008957,-0.056650,-0.224951,1.000000,0.103822,0.100749,NaN,-0.049263
Wind_Bearing,0.029988,0.029031,0.000735,0.103822,1.000000,0.047594,NaN,-0.011651
Visibility,0.392847,0.381718,-0.369173,0.100749,0.047594,1.000000,NaN,0.059818
Loud_Cover,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pressure,-0.005447,-0.000219,0.005454,-0.049263,-0.011651,0.059818,NaN,1.000000

In [51]:
weather_data['Daily_Summary'].nunique()

214

Too much values to categorise for the Daily Summary column

In [52]:
weather_data =weather_data[weather_data['Precip_Type'].notnull()]

In [53]:
weather_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95936 entries, 0 to 96452
Data columns (total 12 columns):
Date                    95936 non-null object
Summary                 95936 non-null object
Precip_Type             95936 non-null object
Temperature             95936 non-null float64
Apparent_temperature    95936 non-null float64
Humidity                95936 non-null float64
Wind_speed              95936 non-null float64
Wind_Bearing            95936 non-null float64
Visibility              95936 non-null float64
Loud_Cover              95936 non-null float64
Pressure                95936 non-null float64
Daily_Summary           95936 non-null object
dtypes: float64(8), object(4)
memory usage: 9.5+ MB

In [19]:
weather_data['Precip_Type'].isna().sum()

0

All rows with the null values have been dropped, unfortunately we could not fill the missing rows with median or mean values because it is a categorical data type not continuous

The next thing is to create new columns for whether teh Precipitation type is snow or rain

In [54]:
weather_data['Precipitation_cat'] = [1 if x == 'rain' else 0 for x in weather_data['Precip_Type']]

In [55]:
weather_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95936 entries, 0 to 96452
Data columns (total 13 columns):
Date                    95936 non-null object
Summary                 95936 non-null object
Precip_Type             95936 non-null object
Temperature             95936 non-null float64
Apparent_temperature    95936 non-null float64
Humidity                95936 non-null float64
Wind_speed              95936 non-null float64
Wind_Bearing            95936 non-null float64
Visibility              95936 non-null float64
Loud_Cover              95936 non-null float64
Pressure                95936 non-null float64
Daily_Summary           95936 non-null object
Precipitation_cat       95936 non-null int64
dtypes: float64(8), int64(1), object(4)
memory usage: 10.2+ MB

In [56]:
weather_data.corr()

,Temperature,Apparent_temperature,Humidity,Wind_speed,Wind_Bearing,Visibility,Loud_Cover,Pressure,Precipitation_cat
Temperature,1.000000,0.992637,-0.632148,0.008304,0.029937,0.393719,NaN,-0.005253,0.563503
Apparent_temperature,0.992637,1.000000,-0.602390,-0.057387,0.028951,0.382589,NaN,-0.000037,0.566058
Humidity,-0.632148,-0.602390,1.000000,-0.224569,0.000814,-0.370511,NaN,0.005375,-0.232622
Wind_speed,0.008304,-0.057387,-0.224569,1.000000,0.104366,0.100801,NaN,-0.049453,0.067771
Wind_Bearing,0.029937,0.028951,0.000814,0.104366,1.000000,0.048900,NaN,-0.011629,0.042142
Visibility,0.393719,0.382589,-0.370511,0.100801,0.048900,1.000000,NaN,0.061011,0.316483
Loud_Cover,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pressure,-0.005253,-0.000037,0.005375,-0.049453,-0.011629,0.061011,NaN,1.000000,-0.009271
Precipitation_cat,0.563503,0.566058,-0.232622,0.067771,0.042142,0.316483,NaN,-0.009271,1.000000

The next step is to drop the column loud cover since all the values are nan values and it won't be of much help in the EDA..

In [57]:
del weather_data['Loud_Cover']

In [58]:
weather_data.head()

,Date,Summary,Precip_Type,Temperature,Apparent_temperature,Humidity,Wind_speed,Wind_Bearing,Visibility,Pressure,Daily_Summary,Precipitation_cat
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,1015.13,Partly cloudy throughout the day.,1
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,1015.63,Partly cloudy throughout the day.,1
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,1015.94,Partly cloudy throughout the day.,1
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,1016.41,Partly cloudy throughout the day.,1
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,1016.51,Partly cloudy throughout the day.,1

In [59]:
weather_data.corr()

,Temperature,Apparent_temperature,Humidity,Wind_speed,Wind_Bearing,Visibility,Pressure,Precipitation_cat
Temperature,1.000000,0.992637,-0.632148,0.008304,0.029937,0.393719,-0.005253,0.563503
Apparent_temperature,0.992637,1.000000,-0.602390,-0.057387,0.028951,0.382589,-0.000037,0.566058
Humidity,-0.632148,-0.602390,1.000000,-0.224569,0.000814,-0.370511,0.005375,-0.232622
Wind_speed,0.008304,-0.057387,-0.224569,1.000000,0.104366,0.100801,-0.049453,0.067771
Wind_Bearing,0.029937,0.028951,0.000814,0.104366,1.000000,0.048900,-0.011629,0.042142
Visibility,0.393719,0.382589,-0.370511,0.100801,0.048900,1.000000,0.061011,0.316483
Pressure,-0.005253,-0.000037,0.005375,-0.049453,-0.011629,0.061011,1.000000,-0.009271
Precipitation_cat,0.563503,0.566058,-0.232622,0.067771,0.042142,0.316483,-0.009271,1.000000

We have got 7 continuous variables that can be used in predicting the target variable Apparent Temperature for our model

changing the date column from dataframe object to datetime

In [60]:
weather_data['Date'] = weather_data['Date'].str.rstrip('+0200')

In [61]:
weather_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95936 entries, 0 to 96452
Data columns (total 12 columns):
Date                    95936 non-null object
Summary                 95936 non-null object
Precip_Type             95936 non-null object
Temperature             95936 non-null float64
Apparent_temperature    95936 non-null float64
Humidity                95936 non-null float64
Wind_speed              95936 non-null float64
Wind_Bearing            95936 non-null float64
Visibility              95936 non-null float64
Pressure                95936 non-null float64
Daily_Summary           95936 non-null object
Precipitation_cat       95936 non-null int64
dtypes: float64(7), int64(1), object(4)
memory usage: 9.5+ MB

In [62]:
weather_data['Date'].dtype

dtype('O')

In [63]:
weather_data['Date'] = pd.to_datetime(weather_data['Date'], infer_datetime_format = True, utc = True)

In [64]:
weather_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95936 entries, 0 to 96452
Data columns (total 12 columns):
Date                    95936 non-null datetime64[ns, UTC]
Summary                 95936 non-null object
Precip_Type             95936 non-null object
Temperature             95936 non-null float64
Apparent_temperature    95936 non-null float64
Humidity                95936 non-null float64
Wind_speed              95936 non-null float64
Wind_Bearing            95936 non-null float64
Visibility              95936 non-null float64
Pressure                95936 non-null float64
Daily_Summary           95936 non-null object
Precipitation_cat       95936 non-null int64
dtypes: datetime64[ns, UTC](1), float64(7), int64(1), object(3)
memory usage: 9.5+ MB

In [65]:
weather_data.head()

,Date,Summary,Precip_Type,Temperature,Apparent_temperature,Humidity,Wind_speed,Wind_Bearing,Visibility,Pressure,Daily_Summary,Precipitation_cat
0,2006-04-01 00:00:00+00:00,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,1015.13,Partly cloudy throughout the day.,1
1,2006-04-01 01:00:00+00:00,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,1015.63,Partly cloudy throughout the day.,1
2,2006-04-01 02:00:00+00:00,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,1015.94,Partly cloudy throughout the day.,1
3,2006-04-01 03:00:00+00:00,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,1016.41,Partly cloudy throughout the day.,1
4,2006-04-01 04:00:00+00:00,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,1016.51,Partly cloudy throughout the day.,1

#### Next step is to drop the duplicated data from the dataframe

In [70]:
weather_data.duplicated().sum()

24

In [71]:
weather_data.drop_duplicates(inplace=True)

In [72]:
weather_data.duplicated().sum()

0

In [73]:
cleaned_data = weather_data

In [74]:
cleaned_data.tail()

,Date,Summary,Precip_Type,Temperature,Apparent_temperature,Humidity,Wind_speed,Wind_Bearing,Visibility,Pressure,Daily_Summary,Precipitation_cat
96448,2016-09-09 18:00:00+00:00,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,1014.36,Partly cloudy starting in the morning.,1
96449,2016-09-09 19:00:00+00:00,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,1015.16,Partly cloudy starting in the morning.,1
96450,2016-09-09 20:00:00+00:00,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,1015.66,Partly cloudy starting in the morning.,1
96451,2016-09-09 21:00:00+00:00,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,1015.95,Partly cloudy starting in the morning.,1
96452,2016-09-09 22:00:00+00:00,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,1016.16,Partly cloudy starting in the morning.,1

In [75]:
cleaned_data.to_csv('cleaned_data', encoding = 'utf-8', index = False)